body {
  max-width: 1000px;
}

h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
}

header h1 {
  font-weight: bold;
}

.map { height: 400px; }

.map img {border-radius: 10px;}

.chip {
    margin: 20px 0px 0px 0px;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 50px;
    border-style: solid;
    border-color: #d4d4d4;
    border-width: 3px;
  }

  .reccomended img{
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .reccomended img:hover{
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.63);
    transition: 1s;
  }

  .reccomended figcaption {
    font-weight: bold;
    text-align: center;
  }


  .reccomendations {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.reccomendations figure {
    width: 300px;
    height: 100%;
    object-fit: cover;
    padding: 5px;
    margin: 10px 10px 0px 0px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.reccomendations figure img {
    border-radius: 5px;
}

.listview img{
  border-radius: 10px;
}

.listview li {
  padding: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  list-style-type: none;
}

.listview {
  margin: 0px;
  padding: 0px;
}

.listview h3 {
  margin: 0px
}
/*--------Generic Classes--------*/

.shadow {box-shadow: 0px 20px 20px -10px #4e4e4e;}

.search {
  display: flex;
  margin: 10px 0px 10px 0px;
}

.search input {
  width: 400px;
}

.search button {background-color: #0076d1; color: white;}

.rounded {border-radius: 10px;}